<!DOCTYPE html>
<html>
<head>
    <title>Trading Strategy Tester</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="container">
        <h1 id="title" class="text-3xl font-bold">Trading Strategy Tester</h1>
        <div id="prompt-section">
            <span id="input-mirror"></span>
            <input
                    type="text"
                    id="prompt"
                    placeholder="Enter your strategy..."
                    class="text-input"
                    oninput="adjustWidth()"
            >
            <button onclick="submitPrompt()" class="arrow-button">&uarr;</button>
        </div>
    </div>
    <div id="dark-mode-toggle" onclick="toggleDarkMode()">
        <img id="toggle-icon" src="../static/images/dark-mode.png" alt="Switch to dark mode" />
    </div>

    <div id="loading-spinner" class="loader hidden"></div>

    <script src="../static/js/growing_prompt_input.js"></script>
    <script src="../static/js/submit_prompt.js"></script>
    <script src="../static/js/dark_light_mode.js"></script>
</body>
</html>
