<!DOCTYPE html>
<html>
<head>
    <title>Trading Strategy Tester</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="container">
        <h1 id="title" class="text-3xl font-bold cursor-pointer" onclick="resetToInitialState()">Trading Strategy Tester</h1>
        <div id="prompt-section">
            <span id="input-mirror"></span>
            <input
                    type="text"
                    id="prompt"
                    placeholder="Enter your strategy..."
                    class="text-input"
                    oninput="adjustWidth()"
            >
            <button onclick="submitPrompt()" class="arrow-button">&uarr;</button>
        </div>
    </div>

    <!-- Results section -->
    <div id="results-section" class="hidden">
        <div id="split-container">
          <div id="graph-pane">
              <div id="graph-container"></div>
          </div>
          <div id="drag-bar"></div>
          <div id="results-pane">
              <div id="stats-section"></div>
              <div id="trades-section"></div>
          </div>
        </div>
    </div>

    <!-- Loading spinner -->
    <div id="loading-spinner" class="loader hidden"></div>

    <!-- Dark mode toggle -->
    <div id="dark-mode-toggle" onclick="toggleDarkMode()">
        <img id="toggle-icon" src="../static/images/dark-mode.png" alt="Switch to dark mode" />
    </div>

    <!-- LLM selector -->
    <div class="fixed bottom-4 right-4 bg-white shadow rounded p-2" id="llm-selector">
        <label for="llm-choice" class="block text-sm font-medium text-gray-700">Select LLM:</label>
        <select id="llm-choice" class="mt-1 block w-full border border-gray-300 rounded p-2">
            <option value="llama3_2-1B_tst_ft">Llama 3.2 1B</option>
            <option value="qwen2_5-0_5B_tst_ft">Qwen 2.5 0.5B</option>
            <option value="chat-gpt-api">CHAT GPT API</option>
            <option value="strategy_object">Strategy object</option>
        </select>
    </div>


    <script type="module" src="../static/js/main.js"></script>
</body>
</html>
